<div class="com_content home_body">
	<div class="com_title">
		<div class="h1">应用列表</div>
		<div class="right">
			<button class="btn btn-main">+添加应用</button>
		</div>
	</div>
	<div class="com_block com_between mt50">
		<div class="left">
			<img class="icon" src="https://cdn.seosiwei.com/TBaCKyXadN6xBnM4YGND6fxTBwQj68Ya.png?imageslim">
			<div class="h1 mt10">WEB应用</div>
			<button class="btn mt30 btn-main">设置</button>
			<button class="btn mt10 btn-main">进入</button>
		</div>
		<div class="right">
			<div class="item">
				<span class="l"><span class="icon"></span>应用名称：</span>
				<span class="r lightcolor">我的个人博客</span>
			</div>
			<div class="item">
				<span class="l"><span class="icon"></span>应用链接：</span>
				<span class="r lightcolor">https://blog.seosiwei.com</span>
			</div>
			<div class="item">
				<span class="l"><span class="icon"></span>appId：</span>
				<span class="r lightcolor">D4706F48ED362AB581D73CCEE3DC4985</span>
			</div>
			<div class="item">
				<span class="l"><span class="icon"></span>是否开启项目统计：</span>
				<span class="r lightcolor">是</span>
			</div>
			<table class="table mt20">
				<tr class="light_color">
					<th class="tc">页面加载阀值</th>
					<th class="tc">JS资源阀值</th>
					<th class="tc">CSS资源阀值</th>
					<th class="tc">IMG资源阀值</th>
					<th class="tc">AJAX加载阀值</th>
					<th class="tc">是否统计页面</th>
					<th class="tc">是否统计页面</th>
					<th class="tc">是否统计AJAX</th>
					<th class="tc">是否统计页面资源</th>
					<th class="tc">是否统计用户系统信息</th>
					<th class="tc">是否统计错误信息</th>
				</tr>
				<tr>
					<td class="tc">8s</td>
					<td class="tc">2s</td>
					<td class="tc">2s</td>
					<td class="tc">2s</td>
					<td class="tc">2s</td>
					<td class="tc">是</td>
					<td class="tc">是</td>
					<td class="tc">是</td>
					<td class="tc">是</td>
					<td class="tc">是</td>
					<td class="tc">是</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<style scoped>
	.home_body{
		width:80%;
		margin:100px auto 0;
	}

</style>
<script>
</script>