<!DOCTYPE html>
<html>
    <head>
        <!-- meta -->
        <title>前端性能监控系统</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="https://pm.seosiwei.com/images/common/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/public/css/base.css">
        <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="//cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
        <script src="//cdn.bootcss.com/echarts/3.8.4/echarts.min.js"></script>
    </head>
    <body>
        <div id='main'>
            <% include ./header.html %>
            <%- body %>
            <% include ./footer.html %>
        </div>
    </body>
</html>