<!DOCTYPE html>
<html>
    <head>
        <!-- meta -->
        <title><%= data.title %></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="https://pm.seosiwei.com/images/common/favicon.ico" type="image/x-icon">
        <!-- css -->
        <link rel="stylesheet" type="text/css" href="/public/css/base.css">
        <link rel="stylesheet" type="text/css" href="/public/lib/popup/popup.css">
        <link rel="stylesheet" type="text/css" href="/public/lib/page/page.css">
        <link rel="stylesheet" type="text/css" href="/public/lib/calendar/zane-calendar.min.css">
        <!-- js -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.0/vue.min.js"></script>
        <script src="//cdn.bootcss.com/echarts/3.8.0/echarts.min.js"></script>
        <script src="/public/lib/popup/popup.js"></script>
        <script src="/public/lib/page/page.js"></script>
        <script src="/public/js/config.js"></script>
        <script src="/public/js/util.js"></script>
        <script src="/public/lib/calendar/zane-calendar.min.js"></script>
        <script src="/public/js/vue-filters.js"></script>
        <script src="/public/js/vue-components.js"></script>
    </head>
    <body>
        <div id="loading"></div>
        <div id='main'>
            <% include ./header.html %>
            <%- body %>
            <% include ./footer.html %>
        </div>
        <div id="footer">Copyright zane © 2018-2019 <a target="_blank" href="https://github.com/wangweianger">github
                address</a></div>
    </body>
</html>