<% include ./side.html %>
<style scoped>
	.com_top_title:after{
		content:'';
		display:block;
		clear:both;
	}
	table.table{
		background:#fff;
	}
	table.table .light_color th{
		font-weight:400;
	}
	table.table tr td{
		font-size:12px;
	}
	.common-block-style {
		background: #fff;
	}
	.common-block-style .h1 {
		font-size: 18px;
		margin-bottom: 25px;
		padding-bottom: 10px;
		border-bottom: solid 1px #eee; 
	}
	.common-block-style .block {
		margin-bottom: 15px;
		font-size: 16px;
		overflow: hidden; 
		display:flex;
		flex-direction: row;
	}
	.common-block-style .block span {
		display: block;
		float: left; 
	}
	.common-block-style .block .t1 {
		width: 120px; 
	}
	.common-block-style .block .t2 {
		max-width: 1000px; 
	}
</style>
<div class="com_content_body main pb100" id="pages" v-cloak>
	<div class="com_top_title">
		<h1 class="com_h1 fl">错误详细信息</h1>
		<commonsearch></commonsearch>
	</div>
	<div class="com_block common-block-style mt20">
		<div class="block">
			<span class="t1">错误url:</span>
			<span class="t2">{{datas.name}}</span>
		</div>
		<div class="block">
			<span class="t1">错误信息:</span>
			<span class="t2 red">{{datas.msg}}</span>
		</div>
		<div class="block">
			<span class="t1">资源类型:</span>
			<span class="t2">{{datas.type}}</span>
		</div>
		<div class="block">
			<span class="t1">所属PATH:</span>
			<span class="t2">{{datas.path}}</span>
		</div>
		<div class="block" v-if="category=='ajax'">
			<span class="t1">状态码:</span>
			<span class="t2">{{datas.status}}</span>
		</div>
		<div class="block" v-if="category=='ajax'">
			<span class="t1">请求方式:</span>
			<span class="t2">{{datas.method}}</span>
		</div>
		<div class="block" v-if="category=='ajax'">
			<span class="t1">请求参数:</span>
			<span class="t2">{{datas.options}}</span>
		</div>
		<div class="block" v-if="category=='js'">
			<span class="t1">错误列:</span>
			<span class="t2">{{datas.line}}</span>
		</div>
		<div class="block" v-if="category=='js'">
			<span class="t1">错误行:</span>
			<span class="t2">{{datas.col}}</span>
		</div>
		<div class="block">
			<span class="t1">来源城市:</span>
			<span class="t2">{{pages.city||'未知'}}</span>
		</div>
		<div class="block">
			<span class="t1">手机品牌:</span>
			<span class="t2">{{pages.brand}}</span>
		</div>
		<div class="block">
			<span class="t1">手机类型:</span>
			<span class="t2">{{pages.model}}</span>
		</div>
		<div class="block">
			<span class="t1">IP:</span>
			<span class="t2">{{pages.ip}}</span>
		</div>
		<div class="block">
			<span class="t1">手机系统:</span>
			<span class="t2">{{pages.system}}</span>
		</div>
		<div class="block">
			<span class="t1">微信版本:</span>
			<span class="t2">{{pages.version}}</span>
		</div>
		<div class="block">
			<span class="t1">微信语言:</span>
			<span class="t2">{{pages.language}}</span>
		</div>
		<div class="block">
			<span class="t1">SDK版本:</span>
			<span class="t2">{{pages.SDKVersion}}</span>
		</div>
		<div class="block">
			<span class="t1">生成时间:</span>
			<span class="t2">{{datas.create_time|date('/',true)}}</span>
		</div>
		<div class="block">
			<span class="t1">访问轨迹:</span>
			<span class="t2"><a :href="'/wx/analysisdetail?markuser='+datas.mark_user">查看用户访问轨迹详情</a></span>
		</div>
	</div>
</div>

<script>
	new Vue({
		el: '#pages',
		data: function () {
			return {
				datas: {},
				data:{},
				appId: util.getStorage('local', 'appId'),
				markPage: util.getQueryString('markPage') || '',
				category: util.getQueryString('category') || '',
				id: util.getQueryString('id') || '',
			}
		},
		filters: {
			toFixed: window.Filter.toFixed,
			toSize: window.Filter.toSize,
			date: window.Filter.date,
		},
		mounted() {
			this.getErrorDetail();
			this.getPageForMarkpage();
		},
		methods: {
			getErrorDetail() {
				this.isLoadend = false;
				util.ajax({
					type:'get',
					url: config.baseApi + 'api/v1/wx/error/getErrorDetail',
					data: {
						id:this.id,
						appId: this.appId,
					},
					success: data => {
						this.isLoadend = true;
						this.datas = data.data;
					}
				})
			},
			getPageForMarkpage() {
				util.ajax({
					type: 'get',
					url: config.baseApi + 'api/v1/wx/pages/getPageForMarkpage',
					data: {
						appId: this.appId,
						markPage: this.markPage,
					},
					success: data => {
						this.pages = data.data;
					}
				})
			},
		}
	})
</script>