<% include ./side.html %>
<style scoped>
	.com_top_title:after{
		content:'';
		display:block;
		clear:both;
	}
	table.table{
		background:#fff;
	}
	table.table .light_color th{
		font-weight:400;
	}
	table.table tr td{
		font-size:12px;
	}
</style>
<div class="com_content_body main pb100" id="pages" v-cloak>
	<div class="com_top_title">
		<h1 class="com_h1 fl">脚本错误</h1>
		<commonsearch :done="getDataForTime"></commonsearch>
	</div>
	<div class="com_topic mb20 mt20"><span class="iconfont">&#xe63a;</span>统计某一个接口的平均访问性能指标。</div>
	<div class="com_slide_tab_x mt30 mb30">
		<div class="item" :class="{'active':type==''}" @click="checkoutLabel()">全部</div>
		<div class="item" :class="{'active':type=='ajax'}" @click="checkoutLabel('ajax')">AJAX错误</div>
		<div class="item" :class="{'active':type=='js'}" @click="checkoutLabel('js')">JS错误</div>
	</div>
	<div>
		<!-- 公共搜索条件 -->
		<div class="com_search">
			<div class="item">
				<div>
					<span class="name">输入资源名称：</span>
					<input class="inp" v-model="url" placeholder="选填、输入资源名称" type="text">
					<button class="btn btn-default" @click="searchForUrl">搜索</button>
				</div>
				<div class="ml30">
					<span class="name">选择日期查询：</span>
					<input id="zane-calendar-1" class="inp w-200" type="text" placeholder="选择日期查询">
				</div>
			</div>
			<div class="tipscolor mt10" v-if="errText">{{errText}}</div>
		</div>
		<div class="overflow_table">
			<!-- table列表 -->
			<table class="table" v-if="isLoadend&&listdata.length">
				<tr class="light_color">
					<th class="w-300">错误资源</th>
					<th class="w-100">错误数量</th>
					<th class="w-100">错误类型</th>
					<th class="w-500">错误信息</th>
					<th class="w-100">操作</th>
				</tr>
				<tr v-for="item in listdata">
					<td><a class="word-wrap" href="javascript:" @click="goToList(item)">{{item._id.name}}</a></td>
					<td class="tc">{{item.count}}</td>
					<td class="tc" >{{item._id.type}}</td>
					<td class="red">{{item._id.msg}}</td>
					<td class="tc"><a href="javascript:" @click="goToList(item)">详情</a></td>
				</tr>
			</table>
		</div>
	</div>
	<!--  分页 -->
	<div class="tc common_page_style mt10" v-show="isLoadend&&listdata.length">
		<div id="copot-page" class="copot-page"></div>
	</div>
	<!-- 暂无数据 -->
	<div class="tc mt20" v-if="!listdata.length">暂无数据!</div>
</div>

<script>
	new Vue({
		el: '#pages',
		data: function () {
			return {
				listdata: [],
				pageNo: 1,
				pageSize: config.pageSize,
				totalNum: 0,
				beginTime: '',
				endTime: '',
				isLoadend: false,
				appId: util.getStorage('local', 'appId'),
				type: '', 
				url:'',
				errText:'',
			}
		},
		filters: {
			toFixed: window.Filter.toFixed,
			toSize: window.Filter.toSize,
		},
		mounted() {
			this.getDataForTime();
			this.searchForTime();
		},
		methods: {
			checkoutLabel(type) {
				this.type = type;
				this.pageNo = 1;
				this.totalNum = 0;

				this.getinit();
			},
			getDataForTime(){
				let times = util.getSearchTime()
				this.beginTime = times.beginTime
				this.endTime = times.endTime
				this.getinit();
			},
			getinit() {
				this.isLoadend = false;
				util.ajax({
					type:'get',
					url: config.baseApi + 'api/v1/wx/error/getAverageErrorList',
					data: {
						type:this.type,
						appId:this.appId,
						pageNo: this.pageNo,
						pageSize: this.pageSize,
						beginTime: this.beginTime,
						endTime: this.endTime,
						url: this.url,
					},
					success: data => {
						this.isLoadend = true;
						if (!data.data.datalist && !data.data.datalist.length) return;
						this.listdata = data.data.datalist;
						new Page({
							parent: $("#copot-page"),
							nowPage: this.pageNo,
							pageSize: this.pageSize,
							totalCount: data.data.totalNum,
							callback: (nowPage, totalPage) => {
								this.pageNo = nowPage;
								this.getinit();
							}
						});
					}
				})
			},
			searchForUrl(){
				this.getinit();
			},
			searchForTime(){
				zaneDate({
					elem: '#zane-calendar-1',
					type: 'doubleday',
					format: 'yyyy/MM/dd',
					done: (fulltime, begintime, endtime) => {
						this.beginTime = begintime ? begintime + ' 00:00:00' : '';
						this.endTime = endtime ? endtime + ' 23:59:59' : '';
						this.errText = '';
						let beginstrap = new Date(`${this.beginTime}`).getTime();
						let endstrap = new Date(`${this.endTime}`).getTime();
						let between = endstrap - beginstrap;
						if (between < 0) {
							this.errText = "结束时间不能小于开始时间。";
							return false;
						}
						if (between > 259200000) {
							this.errText = "时间粒度选择只支持3天以内的时间段查询。";
							return false;
						}
						this.getinit();
					},
				});
			},
			goToList(item) {
				location.href = "/wx/errordetail?url="+ encodeURIComponent(item._id.name)+'&category='+ item._id.type;
			}
		}
	})
</script>