<% include ./side.html %>
<link href="//cdn.bootcss.com/switchery/0.8.2/switchery.min.css" rel="stylesheet">
<style scoped>
	.setting-body {
	margin: 15px;
	background: #fff;
	padding: 20px; }
	.setting-body .block {
		overflow: hidden; 
	}
	.setting-body .block .h1 {
		font-size: 16px;
		font-weight: 300;
		line-height: 35px;
		border-bottom: solid 1px #eee;
		padding-bottom: 8px; 
	}
	.setting-body .block .content {
		margin: 15px 0 20px 50px; 
	}
	.setting-body .block .content .script-text {
		width: 800px;
		background: #f4f4f4;
		color: #333;
		font-size: 14px;
		border: none;
		padding: 10px; 
	}
	.setting-body .block .code code {
		padding: 4px 8px;
		background: #000;
		color: #fff;
		font-size: 12px;
		border-radius: 5px;
		margin: 0 3px; 
	}
	.setting-body .block-center {
		width: 500px;
		margin-left: 150px; 
	}
	.setting-body .block-two {
		overflow: hidden; 
	}
	.setting-body .block-two .block-center {
		width: 500px; 
	}
	.setting-body .block-two .onepart {
		width: 40%;
		float: left;
		margin-right: 10%; 
	}
	.setting-body .button {
		width: 200px;
		height: 45px;
		background: #2077ff;
		color: #fff;
		border: none;
		font-size: 16px;
		border-radius: 3px;
		cursor: pointer;
		margin-left: 155px; 
	}
	.setting-body .item {
		margin-bottom: 20px;
		font-size: 14px; 
	}
	.setting-body .item .left {
		display: inline-block;
		width: 150px;
		text-align: right; 
	}
	.setting-body .item input {
		height: 40px;
		background: #f4f4f4;
		border: none;
		width: 300px;
		padding-left: 10px; 
	}
	.setting-body p{
		font-size:14px;
		color:#999;
		line-height:30px;
	}
	.btns .btn-main{
		border-radius:20px;
	}
	.margin_left{
		max-width:1200px;
		margin-left:80px;
	}
	input.inp[disabled]{
		background:#fff;
	}
	@media (max-width: 768px) {
		.setting-body .block .content {
			margin: 15px 0 20px 5px;
		}
		.content .btn{
			margin-bottom:5px;
		}
		.com_slide_tab_x .item{
			padding:0;
			margin-right:20px;
		}
		.setting-body .block-center{
			margin-left:0;
		}
		.setting-body{
			margin: 10px;
    		padding: 10px;
		}
		.setting-body .item{
			font-size:12px;
		}
		.setting-body .item .left{
			width:120px;
		}
		.setting-body .block-two .onepart {
			width: 100%;
		}
		.margin_left{
			margin-left:0;
		}
	}
</style>
<div class="com_content_body main pb100" id="vue_id" v-cloak>
	<h1 class="com_h1">系统设置</h1>
	<div class="com_slide_tab_x mt30 mb30">
		<div class="item" :class="{'active':lable==1}" @click="checkoutLabel(1)">部署说明</div>
		<div class="item" :class="{'active':lable==2}" @click="checkoutLabel(2)">阈值设置</div>
		<div class="item" :class="{'active':lable==3}" @click="checkoutLabel(3)">统计设置</div>
		<div class="item" :class="{'active':lable==4}" @click="checkoutLabel(4)">性能优化</div>

	</div>
	<div class="setting-body">
		<div class="block" v-show="lable==1">
			<div class="h1 mb20"><span class="left">APPID：</span><strong>{{systemInfo.app_id}}</strong></div>
			<h1 class="h1">1.启用数据接收</h1>
			<div class="content">
				<span class="mr10">是否启用:</span><input type="checkbox" class="js-switch" checked />
			</div>
			<h1 class="h1">2.获取SDK代码</h1>
			<div class="content">
				<a href="/public/file/wx-report-sdk.min.js.zip"><button class="btn btn-default">微信小程序SDK</button></a>
			</div>
			<h1 class="h1">3.部署SDK说明</h1>
			<div class="content code">
				<p>在小程序的app.js头部引入以下代码</p>
				<div class="script-text mb20">
					<pre>const wxRepotSdk = require('./utils/wx-report-sdk.min');
			
new wxRepotSdk({
  domain:'{{location.origin}}/api/v1/wx/report/wx',
    add:{
      appId:'123456789'
  }
})</pre>
			
				</div>
				<a href="https://github.com/wangweianger/wx-report-sdk" target="_target">微信小程序SDK使用文档</a>
			</div>
		</div>
		<div class="block" v-show="lable==2">
			<h1 class="h1">各项阀值设置</h1>
			<div class="block-center">
				<div class="item mt20">
					<span class="left">appId：</span>
					<strong>{{systemInfo.app_id}}</strong>
				</div>
				<div class="item">
					<span class="left">应用名称：</span>
					<input type="text" v-model.trim="systemInfo.system_name" placeholder="必填、输入域名">
				</div>
				<div class="item">
					<span class="left">AJAX慢加载阀值(s)：</span>
					<input type="text" v-model.trim="systemInfo.slow_ajax_time" placeholder="默认8s">
				</div>
				<button class="button left-botton" @click="updateSystem">保存</button>
			</div>
		</div>
		<div class="block block-two" v-show="lable==3">
			<div class="block-center">
				<div class="onepart">
					<h1 class="h1">是否统计AJAX性能指标:</h1>
					<div class="content">
						<span class="mr10">是否启用:</span><input type="checkbox" class="js-switch-item js-switch-2" checked />
					</div>
				</div>
				<div class="onepart">
					<h1 class="h1">是否存储访问者系统信息:</h1>
					<div class="content">
						<span class="mr10">是否启用:</span><input type="checkbox" class="js-switch-item js-switch-4" checked />
					</div>
				</div>
				<div class="onepart">
					<h1 class="h1">是否统计错误信息:</h1>
					<div class="content">
						<span class="mr10">是否启用:</span><input type="checkbox" class="js-switch-item js-switch-5" checked />
					</div>
				</div>
			</div>
		</div>
		<div class="block" v-show="lable==4">
			<h1 class="h1">手动删除数据库数据</h1>
			<div class="margin_left mt30">
				<div class="com_topic mb20"><span class="iconfont">&#xe63a;</span>上报端数据(db1)会定时同步到应用端(db2),同步时间一般会在5分钟以内，可以清空之前的无用数据,同时后台也有定时任务定期删除。</div>
				<h1 class="h1">清空上报端1日之前数据</h1>
				<div class="btns mt30 ml30">
					<button class="btn btn-main" @click="removeWebDB1Data">清空1日之前数据</button>
				</div>
				<div class="com_topic mb20 mt30"><span class="iconfont">&#xe63a;</span>考虑到查询性能和数据的更新频率，应用端(db2)数据可以酌情的删除一些数据。</div>
				<h1 class="h1">清空应用端一段时间的数据</h1>
				<div class="btns mt30 ml30">
					<div><button class="btn btn-main" @click="removeWebDB2Data(10)">清空10日之前数据</button></div>
					<div><button class="btn btn-main mt20" @click="removeWebDB2Data(20)">清空20日之前数据</button></div>
					<div><button class="btn btn-main mt20" @click="removeWebDB2Data(30)">清空30日之前数据</button></div>
				</div>
			</div>
		</div>
	</div>
</div>
x<script src="//cdn.bootcss.com/switchery/0.8.2/switchery.min.js"></script>
<script>
new Vue({
	el: '#vue_id',
	data: function () {
		return {
			lable:1, //1:概况 2：pv|uv|ip
			appId: util.getStorage('local', 'appId'),
			systemInfo:{},
			script:'',
		}
	},
	mounted() {
		this.getDetail();
	},
	methods: {
		checkoutLabel(lable){
			this.lable = lable;
			this.beginTime = '';
			this.endTime = '';
		},
		getDetail() {
			util.ajax({
				type:'get',
				url: config.baseApi + 'api/v1/system/getSystemForId',
				data: {
					appId: this.appId
				},
				success: data => {
					this.systemInfo = data.data || {};
					if(!this.systemInfo.app_id) return;
					this.script = `<script src="${location.origin}/api/v1/report/webscript?appId=${this.systemInfo.app_id}&USESDK=FALSE"><\/script>`;
					this.settingIsUse();
					this.pagexingneng();
				}
			})
		},
		// 设置项目是否接收数据
		settingIsUse() {
			let elem = document.querySelector('.js-switch');
			elem.checked = this.systemInfo.is_use == 0 ? true : false;
			const init = new Switchery(elem, { color: '#8776f7' });
			const _this = this;

			elem.onchange = function () {
				_this.systemInfo.is_use = elem.checked ? 0 : 1;
				util.ajax({
					url: config.baseApi + 'api/v1/system/update',
					data: _this.systemInfo,
					success: data => {
						popup.miss({ title: '操作成功!' })
					}
				})
			};
		},
		updateSystem() {
			if (!this.systemInfo.system_name) { popup.alert({ title: '请正确填写应用名称!' }); return false; }
			util.ajax({
				url: config.baseApi + 'api/v1/system/update',
				data: this.systemInfo,
				success: data => {
					popup.miss({ title: "操作成功！" });
				}
			})
		},
		// 页面性能指标
		pagexingneng() {
			var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch-item'));
			elems.forEach((html, index) => {
				switch (index) {
					case 0:
						html.checked = this.systemInfo.is_statisi_pages == 0 ? true : false;
						break;
					case 1:
						html.checked = this.systemInfo.is_statisi_ajax == 0 ? true : false;
						break;
					case 2:
						html.checked = this.systemInfo.is_statisi_resource == 0 ? true : false;
						break;
					case 3:
						html.checked = this.systemInfo.is_statisi_system == 0 ? true : false;
						break;
					case 4:
						html.checked = this.systemInfo.is_statisi_error == 0 ? true : false;
						break;
				}
				var switchery = new Switchery(html, { color: '#8776f7' });
				html.onchange = () => {
					let value = html.checked ? 0 : 1
					switch (index) {
						case 0:
							this.systemInfo.is_statisi_pages = value;
							break;
						case 1:
							this.systemInfo.is_statisi_ajax = value;
							break;
						case 2:
							this.systemInfo.is_statisi_resource = value;
							break;
						case 3:
							this.systemInfo.is_statisi_system = value;
							break;
						case 4:
							this.systemInfo.is_statisi_error = value;
							break;
					}
					this.setDatas();
				}

			});
		},
		setDatas() {
			util.ajax({
				url: config.baseApi + 'api/v1/system/update',
				data: this.systemInfo,
				success: data => {
					popup.miss({ title: '操作成功!' })
				}
			})
		},
		removeWebDB1Data(){
			popup.confirm({title:'确定清空1日之前所有数据吗？',yes:()=>{
				util.ajax({
					url:`${config.baseApi}api/v1/remove/deleteDb1WebData`,
					data: {
						type: 'wx'
					},
					success:data=>{
						popup.alert({title:'操作成功!'})
					}
				})
			}})
		},
		removeWebDB2Data(number){
			popup.confirm({
				title: `确定清空${number}日之前所有数据吗？`, yes: () => {
					util.ajax({
						url: `${config.baseApi}api/v1/remove/deleteDb2WebData`,
						data:{
							number: number,
							type: 'wx'
						},
						success: data => {
							popup.alert({ title: '操作成功!' })
						}
					})
				}
			})
		}
	},
})
</script>