<% include ./side.html %>
<style scoped>
	.com_top_title:after{
		content:'';
		display:block;
		clear:both;
	}
	table.table{
		background:#fff;
	}
	table.table .light_color th{
		font-weight:400;
	}
	table.table tr td{
		font-size:12px;
	}
	.common-block-style {
		background: #fff;
	}
	.common-block-style .h1 {
		font-size: 18px;
		margin-bottom: 25px;
		padding-bottom: 10px;
		border-bottom: solid 1px #eee; 
	}
	.common-block-style .block {
		margin-bottom: 15px;
		font-size: 16px;
		overflow: hidden; 
	}
	.common-block-style .block span {
		display: block;
		float: left; 
	}
	.common-block-style .block .t1 {
		width: 120px; 
	}
	.common-block-style .block .t2 {
		max-width: 1200px; 
	}
</style>
<div class="com_content_body main pb100" id="pages" v-cloak>
	<div class="com_top_title">
		<h1 class="com_h1 fl">错误详情信息</h1>
		<commonsearch></commonsearch>
	</div>
	<div class="com_block common-block-style mt20">
		<div class="block">
			<span class="t1">错误url:</span>
			<span class="t2">{{datas.resource_url}}</span>
		</div>
		<div class="block">
			<span class="t1">错误信息:</span>
			<span class="t2 red">{{datas.msg}}</span>
		</div>
		<div class="block">
			<span class="t1">资源类型:</span>
			<span class="t2">{{datas.category}}</span>
		</div>
		<div class="block">
			<span class="t1">生成时间:</span>
			<span class="t2">{{datas.create_time|date('/',true)}}</span>
		</div>
		<div class="block">
			<span class="t1">所属URL:</span>
			<span class="t2">{{datas.url}}</span>
		</div>
		<div class="block">
			<span class="t1">来源城市:</span>
			<span class="t2">{{datas.city||'未知'}}</span>
		</div>
		<div class="block">
			<span class="t1">浏览器:</span>
			<span class="t2">{{datas.browser}}</span>
		</div>
		<div class="block">
			<span class="t1">浏览器版本:</span>
			<span class="t2">{{datas.borwser_version}}</span>
		</div>
		<div class="block">
			<span class="t1">操作系统:</span>
			<span class="t2">{{datas.system}}</span>
		</div>
		<div class="block">
			<span class="t1">操作系统版本:</span>
			<span class="t2">{{datas.system_version}}</span>
		</div>
		<div class="block">
			<span class="t1">IP地址:</span>
			<span class="t2">{{datas.ip}}</span>
		</div>
		<div class="block" v-if="category=='resource'">
			<span class="t1">错误资源:</span>
			<span class="t2">{{datas.target}}</span>
		</div>
		<div class="block" v-if="category=='resource'">
			<span class="t1">错误类型:</span>
			<span class="t2">{{datas.type}}</span>
		</div>
		<div class="block" v-if="category=='ajax'">
			<span class="t1">状态码:</span>
			<span class="t2">{{datas.status}}</span>
		</div>
		<div class="block" v-if="category=='ajax'">
			<span class="t1">类型详情:</span>
			<span class="t2">{{datas.text}}</span>
		</div>
		<div class="block" v-if="category=='js'">
			<span class="t1">错误列:</span>
			<span class="t2">{{datas.line}}</span>
		</div>
		<div class="block" v-if="category=='js'">
			<span class="t1">错误行:</span>
			<span class="t2">{{datas.col}}</span>
		</div>
		<div class="block">
			<span class="t1">完整URL:</span>
			<span class="t2">{{datas.fullurl}}</span>
		</div>
		<div class="block">
			<span class="t1">请求方式:</span>
			<span class="t2">{{datas.method}}</span>
		</div>
		<div class="block">
			<span class="t1">请求参数:</span>
			<span class="t2">{{datas.querydata}}</span>
		</div>
	</div>
</div>

<script>
	new Vue({
		el: '#pages',
		data: function () {
			return {
				datas: {},
				appId:'D3D9B9AA45B56F6E424F57EFB36B063B',
				markPage: util.getQueryString('markPage') || '',
				category: util.getQueryString('category') || '',
			}
		},
		filters: {
			toFixed: window.Filter.toFixed,
			toSize: window.Filter.toSize,
			date: window.Filter.date,
		},
		mounted() {
			this.getErrorDetail();
		},
		methods: {
			getErrorDetail() {
				this.isLoadend = false;
				util.ajax({
					type:'get',
					url: config.baseApi + 'api/v1/error/getErrorDetail',
					data: {
						appId:this.appId,
						markPage:this.markPage,
					},
					success: data => {
						this.isLoadend = true;
						this.datas = data.data;
					}
				})
			},
		}
	})
</script>