<% include ./side.html %>
<style scoped>
</style>
<div class="com_content_body main pb100" id="vue_id">
	<h1 class="com_h1">数据分析</h1>
	<div class="com_slide_tab_x mt30 mb30">
		<div class="item">概况</div>
		<div class="item active">PV|UV|IP</div>
	</div>
	<div class="com_topic mb20"><span class="iconfont">&#xe605;</span> 实时数据处理同步可能有2分钟以内的延迟，每分钟统计一次。</div>
	<div class="com_block">
		<h1 class="com_h2 mb20">实时访问PV</h1>
		<div id="pvuvip_pv" style="height:400px"></div>
	</div>
	<div class="com_block">
		<h1 class="com_h2 mb20">实时访问UV</h1>
		<div id="pvuvip_uv" style="height:400px"></div>
	</div>
	<div class="com_block">
		<h1 class="com_h2 mb20">实时访问IP</h1>
		<div id="pvuvip_ip" style="height:400px"></div>
	</div>
</div>

<script>
let myChartPV, myChartUV, myChartIP;
new Vue({
	el: '#vue_id',
	data: function () {
		return {
			beginTime:'',
			endTime:'',
			type:'m',
			timer:null,
			appId:'D3D9B9AA45B56F6E424F57EFB36B063B',
			datalist:[],
		}
	},
	mounted() {
		this.getPvUvIpList();
	},
	methods: {
		getPvUvIpList(isInter){
			util.ajax({
				url: `${config.baseApi}api/v1/pvuvip/getPvUvIpList`,
				data:{
					type:this.type,
					appId: this.appId,
					beginTime:this.beginTime,
					endTime:this.endTime,
				},
				success: (data) => {
					if(data.data && data.data.length){
						const xAxislist = [];
						const itemlist1 = [];
						const itemlist2 = [];
						const itemlist3 = [];
						data.data.forEach(item=>{
							if(this.type === 'm'){
								time = new Date(item.time).format('mm');
							}else if(this.type === 'h'){
								time = new Date(item.time).format('HH');
							}else if(this.type === 'd'){
								time = new Date(item.time).format('dd');
							}
							xAxislist.push(time);
							itemlist1.push(item.pv)
							itemlist2.push(item.uv)
							itemlist3.push(item.ip)
						});
						this.drow('PV',xAxislist, itemlist1);
						this.drow('UV', xAxislist, itemlist1);
						this.drow('IP', xAxislist, itemlist1);
						this.timer = setInterval(() => {
							this.getPvUvIpOne();
						}, 60000)
					}
				}
			})
		},
		getPvUvIpOne(myChart){
			util.ajax({
				url: `${config.baseApi}api/v1/pvuvip/getPvUvIpOne`,
				data: {
					type: this.type,
					appId: this.appId,
				},
				success: (data) => {
					let datas = data.data;
					if (this.type === 'm') {
						time = new Date(datas.time).format('mm');
					} else if (this.type === 'h') {
						time = new Date(datas.time).format('HH');
					} else if (this.type === 'd') {
						time = new Date(datas.time).format('dd');
					}
					// 动态数据接口 addData
					myChartPV.addData([0, datas.pv, false, false, time]);
					myChartUV.addData([0, datas.uv, false, false, time]);
					myChartIP.addData([0, datas.ip, false, false, time]);
				}
			})
		},
		drow(type, xAxislist, itemlist){
			// 基于准备好的dom，初始化echarts图表
			let color = '';
			if(type=='PV'){
				myChartPV = echarts.init(document.getElementById('pvuvip_pv'));
				color = '#42aaff'
			}else if(type == 'UV'){
				myChartUV = echarts.init(document.getElementById('pvuvip_uv'));
				color = '#58d17e'
			}else if(type == 'IP'){
				myChartIP = echarts.init(document.getElementById('pvuvip_ip'));
				color = '#f46d85'
			}
			const option = {
				tooltip: {
					trigger: 'axis'
				},
				legend: {
					data: [type]
				},
				color:[color],
				toolbox: {
					show: false,
					feature: {
						mark: { show: true },
						magicType: { show: true, type: ['line', 'bar', 'stack', 'tiled'] },
						restore: { show: true },
						saveAsImage: { show: false }
					}
				},
				grid:{
					borderWidth:0,
				},
				xAxis: [
					{
						type: 'category',
						data: xAxislist,
						splitLine: {
							show: false,
						},
						axisTick: {
							show: true,
							lineStyle: {
								color: '#ddd',
							}
						},
						axisLabel: {
							show: true,
							textStyle: {
								color: '#B7B7B7'
							},
						},
					}
				],
				yAxis: [
					{
						type: 'value',
						axisLabel: {
							show: true,
							textStyle: {
								color: '#B7B7B7',
							}
						},
						splitLine: {
							show: true,
							lineStyle: {
								type: 'dashed',
								color: '#eee',
								width: 1,
							}
						},
						axisLine: {
							show: false,
						},
					}
				],
				series: [
					{
						name: type,
						type: 'line',
						smooth: true,
						itemStyle: { normal: { areaStyle: { type: 'default' } } },
						data: itemlist
					},
				]
			};
			// 为echarts对象加载数据 
			if (type == 'PV') {
				myChartPV.setOption(option); 
			} else if (type == 'UV') {
				myChartUV.setOption(option); 
			} else if (type == 'IP') {
				myChartIP.setOption(option); 
			}
		}
	},
})


</script>