<style scoped>
	.com_side{
		position: fixed;
		left:0;
		top:80px;
		width:200px;
		height:100%;
		border-right:solid 1px #e7e7eb;
	}
	.com_side .list{
		overflow:hidden;
	}
	.com_side .item{
		width:100%;
		height:50px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: left;
		padding-left:30px;
		position: relative;
		color:#777;
	}
	.com_side .item:after{
		content:'';
		display:block;
		position: absolute;
		left:0;
		top:0;
		width:5px;
		height:50px;
		background:#8776f7;
		display:none;
	}
	.com_side .iconfont{
		font-size:22px;
	}
	.com_side .title{
		font-size:14px;
		margin-left:20px;
	}
	.com_side .active{
		color:#8776f7;
	}
	.com_side .active:after{
		display:block;
	}
</style>
<div class="com_side">
	<div class="list" id="side-main-nav">
		<a href="/web/home">
			<li class="item" data-mark="home">
				<span class="iconfont">&#xe625;</span>
				<span class="title">数据分析</span>
			</li>
		</a>
		<a href="/web/pages">
			<li class="item" data-mark="pages">
				<span class="iconfont">&#xe6ea;</span>
				<span class="title">访问页面</span>
			</li>
		</a>
	</div>
</div>
<script>
	var href = location.href;
	var liobjs = $('#side-main-nav').find('li')
	for (var i = 0, len = liobjs.length; i < len; i++) {
		var attrr = $(liobjs[i]).attr('data-mark')
		if (href.indexOf(attrr) != -1) {
			liobjs.removeClass('active')
			$(liobjs[i]).addClass('active')
		}
	}
</script>